@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body{
    overflow: hidden;
}

.background{
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

header{
    width: 100%;
    height: 70px;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    padding-top: calc(1rem - 70px);
}

.cabeçalho{
    display: flex;
    font-weight: 200;
    cursor: pointer;
    gap: 7rem;
}

.cabeçalho a{
    color: rgb(0, 0, 0);
    font-size: 23px;
    font-weight: 630;
    cursor: pointer;
}

.cabeçalho a:hover{
    color: rgb(106, 6, 146);
    transition: 0.5s;
    cursor: pointer;
}

.texto-principal{
    padding: 250px 0 0 130px;
}

.texto h3{
    font-size: 30px;
}

.texto h1{
    font-size: 40px;
}

span{
    color: rgb(74, 7, 100);
}

.texto p{
    font-size: 18px;
}

.icones-link{
    display: flex;
    gap: 1rem;
}

.texto-bottom{
    display: flex;
    padding: 300px 150px 0 0;
    align-items: center;
    justify-content: flex-end; 
}

.author{
    display: flex;
    margin: 5px;
    gap: 5rem;
    justify-content: flex-end;
    
}
